# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

kls_database.db


api/.*
api/bin
api/build

api-data/.*
api-data/bin
api-data/build

process/.*
process/bin
process/build
